body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  background-color: lightgrey;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: monospace;
}

.div-main {
  background-image: url(https://images.unsplash.com/photo-1599148400620-8e1ff0bf28d8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1482&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  margin-top: -5.5em;
}

.game-board {
  margin-top: 2em;
}

.player-rps {
  margin-top: 2em;
}

.result-message {
  margin-top: 0.5em;
  font-family: monospace;
  color: aliceblue;
}
