body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  background-color: lightgrey;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: monospace;
}

#div-main {
  background-image: url(https://images.unsplash.com/photo-1544030834-45f2dcb88b4a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  margin-top: -5.5em;
}

#current-score {
  padding-top: 9em;
  margin-bottom: -1em;
  display: block;
}

#game-board {
  margin-top: 2em;
}

#player1-rps {
  margin-top: 2em;
}

#player2-rps {
  margin-top: 2em;
}

#result-message {
  margin-top: 0.5em;
  font-family: monospace;
  color: aliceblue;
}
